@import '../../main';

.mainBlock {
    @extend .scrollbar;
    position: relative;
    background-image: url('../../../public/assets/bg_newyear.png');
    background-size: cover;

    min-height: calc(100dvh - 2rem);
    width: 100svw;

    color: #fff;

    padding-bottom: 2rem;
}

.snow {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    pointer-events: none;
    width: 100%;
    height: 100%;
    animation: snow 50s linear infinite;
}

@keyframes snow {
    0% {
        background-position: 0px 0px, 0px 0px, 0px 0px;
    }
    100% {
        background-position: 1800px 2000px, 1600px 1600px, 1400px 1200px;
    }
}

.errorMainTitle {
    font-size: 2rem;
    text-align: center;
    margin: 0;
    padding-top: 6rem;
    display: flex;
    flex-direction: column;
}

@media screen and (max-width: 750px) {
    .errorMainTitle {
        font-size: 1.5rem;
        padding-top: 6rem;
    }
}

@media screen and (max-width: 450px) {
    .mainBlock {
        background-image: url('../../../public/assets/bg-m_newyear.png');
        padding-bottom: 1rem;
        min-height: calc(100dvh - 1rem);
    }

    .errorMainTitle {
        padding-top: 8rem;
    
    }
}