@import '../../main';

.mainBlock {
    @extend .scrollbar;
    position: relative;
    
    background-image: url('../../../public/assets/bg_newyear.png');
    background-size: cover;

    min-height: 100dvh;
    width: 100dvw;

    color: #fff;

    main {
        padding: 6rem 0 2rem;
    }
}

.snow {
    position: absolute;
    top: 6.5rem;
    left: 0;
    z-index: 1;
    pointer-events: none;
    width: 100%;
    height: calc(100% - 6.5rem);
    animation: snow 50s linear infinite;
}

@keyframes snow {
    0% {
        background-position: 0px 0px, 0px 0px, 0px 0px;
    }
    100% {
        background-position: 1800px 2000px, 1600px 1600px, 1400px 1200px;
    }
}

.header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    padding: 2rem 3rem;

    background-color: $glass-bg;
    background-image: url('../../../public/assets/header.svg');
    backdrop-filter: blur(3px);
    background-repeat: repeat-x;
    background-size: 350px auto;

    h1 {
        margin: 0;
        letter-spacing: 2px;
    }

    .headerLogoutBlock {
        display: flex;
        flex-direction: row;
        align-items: center;

        strong {
            margin-right: 2rem;
            font-size: 1.25rem;
        }

        button {
            padding: 0.75rem 1rem;

            @extend .button;
        }
    }
}

.loadPendingTitle {
    text-align: center;

    margin-top: 5rem;

    font-size: 2rem;
}

main {
    position: relative;
    z-index: 10;
}

@media screen and (max-width: 720px) {
    .mainBlock {
        main {
            padding: 2rem 0;
        }
    }
    
    .snow {
        top: 5rem;
        height: calc(100% - 5rem);
    }

    .header {
        padding: 1.5rem 1rem;
        background-size: 300px auto;
    
        h1 {
            font-size: 1.5rem;
            letter-spacing: 1px;
        }
    
        .headerLogoutBlock {
            strong {
                margin-right: 0.5rem;
                font-size: 0.9rem;
            }
    
            button {
                padding: 0.5rem 0.75rem;
    
                @extend .button;
            }
        }
    }
    
    .loadPendingTitle {
        margin-top: 2rem;
    
        font-size: 1.5rem;
    }
}

@media screen and (max-width: 500px) {
    .mainBlock {
        background-image: url('../../../public/assets/bg-m_newyear.png');
    }

    .header {
        background-size: 275px auto;
    }
}