@import '../../main';

.mainBlock {
    @extend .scrollbar;
    
    background-image: url('../../../public/assets/bg.png');
    background-size: cover;

    min-height: calc(100dvh - 2rem);
    width: 100svw;

    color: #fff;

    padding-bottom: 2rem;
}

.errorMainTitle {
    font-size: 2rem;
    text-align: center;
    margin: 0;
    padding-top: 6rem;

}

.header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;

    padding: 2rem 3rem;

    background-color: $glass-bg;
    backdrop-filter: blur(3px);

    &__room {
        font-size: 1.5rem;
    }
    
    &__logoutBlock {
        display: flex;
        flex-direction: row;
        align-items: center;

        h2 {
            font-size: 1.25rem;
            margin: 0;
            margin-right: 2.5rem;
        }

        svg {
            display: none;
        }

        a {
            @extend .button;
    
            text-decoration: none;
            padding: 0.75rem 1rem;
        }
    }
}

.prestartTitle {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;

    width: 100%;
    height: 2.5rem;
    padding: 2rem 0;
    
    text-align: center;
    font-size: 2rem;
    font-weight: normal;

    span {
        margin-left: 1rem;
    }

    img {
        width: 5rem;
    }
}

@media screen and (max-width: 750px) {
    .errorMainTitle {
        font-size: 1.5rem;
        padding-top: 6rem;
    
    }
    
    .header {
        padding: 1.25rem;

        &__room {
            font-size: 1.25rem;
        }
        
        &__logoutBlock {
            h2 {
                display: none;
            }

            svg {
                display: block;
                width: 2rem;
                height: 2rem;
                margin-right: 1rem;
            }
    
            a {
                padding: 0.75rem 1.5rem;
                font-size: 1rem;
            }
        }
    }
    
    .prestartTitle {
        height: 2rem;
        width: 85%;
        margin: auto;
        padding: 1rem 0;
        
        font-size: 1.75rem;
    
        span {
            margin-left: 0.5rem;
        }
    
        img {
            width: 4rem;
        }
    }
}

@media screen and (max-width: 550px) {
    .prestartTitle {
        font-size: 1.25rem;
        max-height: 3.5rem;
        padding: 0.75rem 0 1.5rem;

        img {
            width: 3rem;
        }
    }
}

@media screen and (max-width: 450px) {
    .mainBlock {
        background-image: url('../../../public/assets/bg-m.png');
        padding-bottom: 1rem;
        min-height: calc(100dvh - 1rem);
    }

    .errorMainTitle {
        padding-top: 8rem;
    
    }
    
    .header {
        padding: 1rem;

        &__room {
            font-size: 1.2rem;
        }
        
        &__logoutBlock {
            a {
                padding: 0.5rem 1rem;
            }
        }
    }
}