@import '../../main';

.mainBlock {
    @extend .scrollbar;
    
    background-image: url('../../../public/assets/bg_newyear.png');
    background-size: cover;

    min-height: calc(100dvh - 2rem);
    width: 100svw;

    color: #fff;

    padding-bottom: 2rem;
}

.snow {
    position: absolute;
    top: 7rem;
    left: 0;
    z-index: 1;
    pointer-events: none;
    width: 100%;
    height: calc(100% - 7rem);
    animation: snow 50s linear infinite;
}

@keyframes snow {
    0% {
        background-position: 0px 0px, 0px 0px, 0px 0px;
    }
    100% {
        background-position: 1800px 2000px, 1600px 1600px, 1400px 1200px;
    }
}

.errorMainTitle {
    font-size: 2rem;
    text-align: center;
    margin: 0;
    padding-top: 6rem;

    position: relative;
    z-index: 10;
}

.header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;

    padding: 2rem 3rem;

    background-color: $glass-bg;
    background-image: url('../../../public/assets/header.svg');
    backdrop-filter: blur(3px);
    background-repeat: repeat-x;
    background-size: 350px auto;

    &__room {
        font-size: 1.5rem;
    }
    
    &__logoutBlock {
        display: flex;
        flex-direction: row;
        align-items: center;

        h2 {
            font-size: 1.25rem;
            margin: 0;
            margin-right: 2.5rem;
        }

        svg {
            display: none;
        }

        a {
            @extend .button;
    
            text-decoration: none;
            padding: 0.75rem 1rem;
        }
    }
}

.prestartTitle {
    position: relative;
    z-index: 10;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;

    width: 100%;
    height: 2.5rem;
    padding: 2rem 0;
    
    text-align: center;
    font-size: 2rem;
    font-weight: normal;

    span {
        margin-left: 1rem;
    }

    img {
        width: 5rem;
    }
}

@media screen and (max-width: 750px) {
    .errorMainTitle {
        font-size: 1.5rem;
        padding-top: 6rem;
    
    }

    .snow {
        top: 5.5rem;
        height: calc(100% - 5.5rem);
    }
    
    .header {
        padding: 1.25rem;
        background-size: 300px auto;

        &__room {
            font-size: 1.25rem;
        }
        
        &__logoutBlock {
            h2 {
                display: none;
            }

            svg {
                display: block;
                width: 2rem;
                height: 2rem;
                margin-right: 1rem;
            }
    
            a {
                padding: 0.75rem 1.5rem;
                font-size: 1rem;
            }
        }
    }
    
    .prestartTitle {
        height: 2rem;
        width: 85%;
        margin: auto;
        padding: 1rem 0;
        
        font-size: 1.75rem;
    
        span {
            margin-left: 0.5rem;
        }
    
        img {
            width: 4rem;
        }
    }
}

@media screen and (max-width: 550px) {
    .prestartTitle {
        font-size: 1.25rem;
        max-height: 3.5rem;
        padding: 0.75rem 0 1.5rem;

        img {
            width: 3rem;
        }
    }
    
    .header {
        background-size: 275px auto;
    }
}

@media screen and (max-width: 450px) {
    .mainBlock {
        background-image: url('../../../public/assets/bg-m_newyear.png');
        padding-bottom: 1rem;
        min-height: calc(100dvh - 1rem);
    }

    .errorMainTitle {
        padding-top: 8rem;
    
    }
    
    .snow {
        top: 4.25rem;
        height: calc(100dvh - 4.25rem);
    }

    .header {
        padding: 1rem;

        &__room {
            font-size: 1.2rem;
        }
        
        &__logoutBlock {
            a {
                padding: 0.5rem 1rem;
            }
        }
    }
}