@import '../../../main';

.modal__ {
    &header {
        position: relative;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;

        width: 100%;

        h3 {
            margin: 0;
            font-size: 1.25rem;
            padding: 0.5rem 0;
            width: 100%;

            text-align: center;
        }

        button {
            @extend .button;

            position: absolute;
            right: 0;
            padding: 0.75rem 2rem;
        }
    }

    &form__ {
        &field {
            @extend .input;

            width: 40%;
            margin-top: 1.5rem;
            padding: 0.5rem 1rem;
            border-radius: 0.5rem;

            font-size: 1rem;

            &_number {
                width: 2rem;
                margin: 0;
            }
        }

        &numBlock {
            display: flex;
            justify-content: space-between;
            align-items: center;
            
            width: 45%;
            margin-top: 1.5rem;
        }

        &numLabel {
            font-weight: 600;
            font-size: 1rem;
            margin-right: 0.5rem;
        }

        &alert {
            color: #b10707;
            font-weight: 600;
            font-size: 1rem;
            width: 80%;
            text-align: center;

            margin: 0.5rem 0 1rem;
        }

        &submit {
            @extend .button;
            
            padding: 0.75rem 2rem;
        }
    }
}

@media screen and (max-width: 675px) {
    .modal__ {
        &header {
            h3 {
                text-align: left;
            }
        }
    
        &form__ {
            &field {
                width: 65%;
                margin-top: 1rem;
    
                &_number {
                    width: 2rem;
                    margin: 0;
                }
            }
    
            &numBlock {
                justify-content: space-around;
                
                width: 65%;
                margin-top: 1rem;
            }
    
            &alert {
                width: 80%;
            }
    
            &submit {
                padding: 1rem 3rem;
            }
        }
    }
}

@media screen and (max-width: 500px) {
    .modal__ {
        &header {
            position: static;
            flex-direction: column-reverse;
    
            h3 {
                margin-top: 1rem;
                text-align: center;
            }
    
            button {
                position: static;
            }
        }
    
        &form__ {
            &field {
                width: 90%;
                padding: 0.75rem 1rem;
    
                &_number {
                    width: 2rem;
                    margin: 0;
                }
            }
    
            &numBlock {
                justify-content: space-between;
                
                width: 100%;
            }
    
            &alert {
                width: 100%;
            }
        }
    }
}